.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.pellet {
    animation: flash 1s infinite;
    background-color: green;
    border-radius: 10px;
}

@keyframes flash {
    0%, 49% {
        background-color: green;
      }
      50%, 100% {
        background-color: white;
      }
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
    border: 0px;
}

.blinky {
    background-color: red;
    border: 0;
}

.pinky {
    background-color: pink;
    border: 0;
}

.inky {
    background-color: cyan;
    border: 0;
}

.clyde {
    background-color: orange;
    border: 0;
}

.scared-ghost {
    /* animation: blink 1s infinite; */
    border: 0;
    background-color: aquamarine;
}

/* @keyframes blink{
    0% {
      background-color: aquamarine;
    };
    20% {
      background-color: black;
    };
    40% {
      background-color: aquamarine;
    };
    60% {
      background-color: black;
    };
    80% {
      background-color: aquamarine;
    };
    100% {
      background-color: black;
    }; 
}*/