body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas:
    "header header"
    "game aside"
    "footer footer";
}

header {
    grid-area: header;
    text-align: center;
}

game {
    grid-area: game;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  background-color: black;
}

.grid div {
  width: 20px;
  height: 20px;
}

.dot {
  background-color: white;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}

.wall {
  background-color: blue;
}

.pellet {
  animation: flash 1s infinite;
  background-color: green;
  border-radius: 10px;
}

@keyframes flash {
  0%,
  49% {
    background-color: yellow;
  }
  50%,
  100% {
    background-color: black;
  }
}

.pac-man {
  border: 0px;
  background-image: url(images/pac-man.png);
  background-position: -20px 0px;
  display: inline-block;
  object-fit: none;
}

.blinky {
  background-color: red;
  border: 0;
  background-image: url(images/pac-man.png);
  background-position: -23px -80px;
  display: inline-block;
  object-fit: none;
}

.pinky {
  background-color: pink;
  border: 0;
  background-image: url(images/pac-man.png);
  background-position: -23px -100px;
  display: inline-block;
  object-fit: none;
}

.inky {
  background-color: cyan;
  border: 0;
  background-image: url(images/pac-man.png);
  background-position: -23px -120px;
  display: inline-block;
  object-fit: none;
}

.clyde {
  background-color: orange;
  border: 0;
  background-image: url(images/pac-man.png);
  background-position: -23px -140px;
  display: inline-block;
  object-fit: none;
}

.scared-ghost {
  animation: blink 0.5s infinite;
  background-color: aquamarine;
  background-image: url(images/pac-man.png);
  background-position: -200px -80px;
  display: inline-block;
  object-fit: none;
}

@keyframes blink {
  0%,
  49% {
    background-position: -180px -80px;
  }
  50%,
  100% {
    background-position: -200px -80px;
  }
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

